/* ==========================================================================
	Variables
/* ========================================================================== */


/* Colors */

$green: #00890D;
$red: #d7154d;
$gray: #efefef;
$white: #FFF;